.container {
    max-width: 960px;
    
}

.main-body-container {
    padding: 30px;
    background-color: #ffffff;
    border: solid #644E5B;
    margin-top: 50px;
}

body {
    background-image: url("../images/papyrus-dark.png");
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9E5A63;
}

.nav-h1 {
    padding: 10px;
    color: #ffffff;
}

.nav-link {
    font-size: x-large
}

/* Portfolio page card text */
.card-text {
    position: absolute;
    bottom: 5px;
    color: #ffffff;
    padding: 5px;
    background-color: #e27d60;
}

/* Contact page Submit button + Portfolio page buttons */
.btn-secondary {
    background-color: #C96567;
    border: #c96567;
    
}

/* Portfolio Buttons */

.portfolio-btn {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5px;
}

.card {
    margin-top: 30px;
    border: #644E5B;
}





