.container {
    padding: 30px;
    background-color: #ffffff;
    border: solid #571c7e;
    max-width: 960px;
    margin-top: 50px;
}

body {
    background-image: url("subtle_grunge.png");
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #571c7e;
}

.nav-h1 {
    padding: 10px;
    color: #ffffff;
    background-color: #571c7e;
}

.nav-link {
    font-size: x-large
}

/* Portfolio page card text */
.card-text {
    position: absolute;
    bottom: 5px;
    color: #ffffff;
    padding: 5px;
    background-color: #571c7e;
}

/* Contact page Submit button */
.btn-primary {
    background-color: #571c7e;
    border: #571c7e
}




